body {
    background-image: url("https://user-images.githubusercontent.com/74884495/119538746-a6e12500-bd48-11eb-8821-abf5d623ca74.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* 
h1 {
    text-align: center;
} */

#homebody{
    font-size: 100px;
    color: whitesmoke;
    font-weight:700;
    /* font-family: 'Fjalla One', sans-serif; */
}

#homebody2 {
    font-size: 100px;
    color: black;
    font-weight:700;
    margin-bottom: 40px;
    /* font-family: 'Fjalla One', sans-serif; */
}

#searchbody{
    font-size: 25px;
    color: whitesmoke;
    background-color: transparent;
    border: none;
}

#searchbar {
    padding: 30px !important;
}

#searchbutton{
 
   background-color: teal;
   color: black;

   width: 80px;

}

#searchCard {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dataCard {
    margin-top: 40px;
}
#loginCard {
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

#emailInput {
    text-align: center;
    margin-bottom: 30px;
    margin-top: -20px;
}

#passwordInput {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -20px;
}

#loginTitle {
    padding: 20px;
    font-weight: 600;
}

#loginSubmit {
    background-color: teal;
    margin-top: 20px;
    margin-bottom: 20px;
}

#inputTitle {
    font-weight: 600;
}

#signupCard {
border-radius: 10px;
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#nameSignup {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
}

#emailSignup {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
}

#passwordSignup {
    text-align: center;
    margin-top: -20px;
}


#signupSubmit {
    background-color: teal;
    margin-top: 20px;
    margin-bottom: 20px;
}

#devSpotCard {
 background-color: transparent;
 border: none;
 margin-bottom: 30px;
}



#devSpotContent {
    text-align: center !important;
    padding: 20px;
    color: teal;
    font-family: 'Fjalla One', sans-serif;
}

#img-dev {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
   
}

#link-dev {
    text-align: center;
    color:teal
}

#jobSearchCard {
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 30px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

#intPrepCard {
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 30px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

#resourcesCard {
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 30px;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}

h2 {
    text-align: center;
}

@media (max-width:1200px) {
body {
    background: black;
    
}

}
