.articlesPage {
  background-color: rgb(31, 30, 30);
}
#devSpotContent {
  text-align: center !important;
  padding: 20px;
  color: teal;
  font-family: "Fjalla One", sans-serif;
}

#img-dan {
  margin-top: 30px;
  width: 400px;
  height: 400px;

  box-shadow: 10px 10px 5px rgb(14, 13, 13);
}

#img-allana {
  margin-top: 30px;
  width: 400px;
  height: 400px;

  box-shadow: 10px 10px 5px rgb(14, 13, 13);
}

#link-dev {
  text-align: center;
  color: teal;
}

#dan-card {
    background-image: url("../Images/Danimage2.jpg");
    width: 300px !important;
    height: 300px  !important; 
    box-shadow: 10px 10px 5px rgb(14, 13, 13);
    margin-top: 30px;
    opacity: .5;
}

#allana-card {
    background-image: url("../Images/allanaimage2.jpg");
    width: 300px !important;
    height: 300px  !important; 
    box-shadow: 10px 10px 5px rgb(14, 13, 13); 
    margin-top: 20px;
    opacity: .5;
}