.abg-image {
    background-image: url("../Images/peopleComputer.jpg");
    background-repeat: no-repeat;
    width: 100%;
    box-shadow: 10px 10px 5px rgb(24, 24, 24);
    z-index: -1;
}


#jobSearchCard {
 
  color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  margin-left: -30px;
  margin-top: 30px;
  background-color: rgb(42, 42, 42);
  border-radius: 0px;
}

#intPrepCard {
    color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    background-color: rgb(42, 42, 42);
    border-radius: 0px;
}

#resourcesCard {
    color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    background-color: rgb(42, 42, 42);
    border-radius: 0px;
}

h2 {
  text-align: center;
}
.articlesPage {
  background-color: rgb(31, 30, 30);
}
#devSpotContent {
  text-align: center !important;
  padding: 20px;
  color: teal;
}

#link-dev {
  text-align: center;
  color: teal;
}

#dan-card {
  background-image: url("../Images/Danimage2.jpg");
  width: 300px !important;
  height: 300px !important;
  box-shadow: 10px 10px 5px rgb(14, 13, 13);
  margin-top: 60px;
margin-left: 60px;
  border-radius: 0px;
  opacity: 0.9;
}

#allana-card {
  background-image: url("../Images/allanaimage2.jpg");
  width: 300px !important;
  height: 300px !important;
  box-shadow: 10px 10px 5px rgb(14, 13, 13);
  margin-top: 60px;

  border-radius: 0px;
  opacity: 0.95;
}

#allana-card:hover {
  opacity: 0.5;
}
#dan-card:hover {
  opacity: 0.5;
}

#qa {
  margin-top: 200px;
  color: whitesmoke;
  text-shadow: 2px 2px #000000;
}

#articleHeaderCard {
  background-color: transparent;
  color: whitesmoke;
  font-size: 20px;
  margin-top: 110px;
  margin-bottom: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
}

#articleHeader {
  font-size: 50px !important;
}

#artFormLink {
  color: whitesmoke;
  font-size: 50px;
  margin-top: 30px;
}

@media only screen and (max-width: 500px) {
  .abg-image{
      background-image: none;

  }
  #dan-card {
    margin-left: 20px;
  }
  #allana-card {
    margin-left: 20px;
  }
 
}